{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="jumbotron">
                    <h1>Beer Match</h1>
                    {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
                    <p>Sometimes in life there is such a thing as too mcuh choice. Sometimes deciding what to eat and what to drink with it can be too much. If you ever find yourself in such a situation rest assured that BeerMatch is here to help. We use world class algorithms to process meal-beverage combinations and rank them according to a highly scientific N-Dimensional vector space compatibility metric.</p>
                    <a href="http://www.tutorialrepublic.com" target="_blank" class="btn btn-primary btn-lg">Get started today</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
