{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="jumbotron">
                    <h1>Beer Diccck</h1>
                    {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
                    <p>In a world where being vangard class penis is essential. We present Be-er Dick. A concise solution to the age old, "I need to look more urbane and cultured than my freinds" problem.</p>
                    <a href="http://www.tutorialrepublic.com" target="_blank" class="btn btn-primary btn-lg">Get started today</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
