{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}BE-ER Judge{% endblock %}
{% block head %}
{{ super() }}
<style>#map-container { height:600px }</style>
{% endblock %}
{% block navbar %}
    <nav role="navigation" class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href=#" class="navbar-brand">Be-er Judge</a>
        </div>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="/"><a href="#">Home</a></li>
                <li><a href="beerDetails">Beer Details</a></li>
                <li><a href="restaurantMap">Restaurant Map</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
